@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body, html, h1, h2, h3, h4 h5, p, span, textarea, input{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #0f0f10;
  color: lightgreen;

}
body{
    margin-top: 0px;
    margin-left: 0px;
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

input{
    outline: none;
    text-overflow:ellipsis
}

table, tr, td, th{
    border: 2px solid lightgreen;
    border-collapse: collapse;
    text-align: center;
    padding: 2.5px;
}

tr:nth-child(even){background-color: #f2f2f222;}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
  }


.filebar::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


.filebar{
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    position: relative;
    overflow-x: scroll;
    overflow-y: scroll;
    float: none;
    display: inline-block;
    zoom: 1;
}

html, body {margin: 0; height: 100%; overflow: hidden}

.continueConditional{
    border: 2px solid lightgreen;
    background-color: rgba(0,0,0,0);
    color: lightgreen;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    border-radius: 10px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}
.continueConditional:hover{
    background-color: rgba(40,100,40,0.3);
}
.continueConditional:active{
    background-color: rgba(40,100,40,0.6);
}
.divertConditional{
    border: 2px solid lightgreen;
    background-color: rgba(0,0,0,0);
    color: lightgreen;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    border-radius: 10px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}
.divertConditional:hover{
    background-color: rgba(40,100,40,0.3);
}
.divertConditional:active{
    background-color: rgba(40,100,40,0.6);
}
.divertInputConditional{
    border: 0px;
    background-color: rgb(68, 60, 60);
    color: lightgreen;
    width: 1pc;
    text-align: center;
    font-size: 11px;
}
.shootConditional{
    border: 2px solid lightgreen;
    background-color: rgba(0,0,0,0);
    color: lightgreen;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    border-radius: 10px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}
.shootConditional:hover{
    background-color: rgba(40,100,40,0.3);
}
.shootConditional:active{
    background-color: rgba(40,100,40,0.6);
}